@import "tailwindcss";


:root {

    --blue:#1557d6;
    --blue-dark:#0b3f9e;
    --yellow:#ffd84d;
    --blue-soft:#eef5ff;
    --text:#172033;

}


html {
    scroll-behavior:smooth;
}


body {

    margin:0;

    font-family:
            "Manrope",
            Arial,
            sans-serif;

    color:var(--text);

}


.container {

    max-width:1180px;

    margin:auto;

    padding:0 16px;

}


.gradient-blue {

    background:
            radial-gradient(
                    circle at 80% 20%,
                    rgba(255,216,77,.35),
                    transparent 250px
            ),

            linear-gradient(
                    135deg,
                    #eef5ff,
                    white
            );

}